@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: bold;
    src: url('../app/fonts/Vazir-Bold.ttf');
  }
  @font-face {
    font-family: thin;
    src: url('../app/fonts/Vazir-Thin.ttf');
  }
  @font-face {
    font-family: eot;
    src: url('../app/fonts/Vazir-Light.eot');
  }